<p id="notice"><%= notice %></p>

<h1>Flows</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Title</th>
      <th>Description</th>
      <th>Backgroundimage</th>
      <th>Teaser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flows.each do |flow| %>
      <tr>
        <td><%= flow.user %></td>
        <td><%= flow.status %></td>
        <td><%= flow.title %></td>
        <td><%= flow.description %></td>
        <td><%= flow.backgroundImage %></td>
        <td><%= flow.teaser %></td>
        <td><%= link_to 'Show', flow %></td>
        <td><%= link_to 'Edit', edit_flow_path(flow) %></td>
        <td><%= link_to 'Destroy', flow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flow', new_flow_path %>
