<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>

<p>
  <strong>Flow:</strong>
  <%= @video.flow %>
</p>

<p>
  <strong>Task:</strong>
  <%= @video.task %>
</p>

<p>
  <strong>Video:</strong>
  <%= @video.video %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
