<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @batch.user %>
</p>

<p>
  <strong>Flow:</strong>
  <%= @batch.flow %>
</p>

<p>
  <strong>Number:</strong>
  <%= @batch.number %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
